@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 48 100% 97%;
    --foreground: 45 6% 42%;
    --card: 48 100% 97%;
    --card-foreground: 45 6% 42%;
    --popover: 48 100% 97%;
    --popover-foreground: 45 6% 42%;
    --primary: 195 62% 41%;
    --primary-foreground: 48 100% 97%;
    --secondary: 47 8% 89%;
    --secondary-foreground: 45 6% 42%;
    --muted: 47 8% 89%;
    --muted-foreground: 45 5% 58%;
    --accent: 38 95% 58%;
    --accent-foreground: 45 6% 42%;
    --destructive: 355 71% 55%;
    --destructive-foreground: 48 100% 97%;
    --border: 47 8% 89%;
    --input: 47 8% 89%;
    --ring: 195 62% 41%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 47.4% 11.2%;
    --foreground: 210 40% 98%;
    --card: 222.2 47.4% 11.2%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 47.4% 11.2%;
    --popover-foreground: 210 40% 98%;
    --primary: 207 90% 54%;
    --primary-foreground: 210 40% 98%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 173 51% 52%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 207 90% 54%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
